// Primary colors

// fonts
$montserrat: "Montserrat", sans-serif;

// Other
$light-teal: #9ed8cf;

@import "../components/form/CCForm.scss";
@import "../components/Layout.scss";

html {
  font-size: 50%;
}

body {
  font-family: $montserrat;
  font-size: 2rem;
}

a {
  &:hover {
    text-decoration: none;
  }
}

.home {
  padding-top: 60px;
  padding-bottom: 60px;
}

